.scrollCal {
  position: absolute;
  background: #fff;
  width: 330px;
  height: 296px;
  -webkit-box-shadow: #333 0px 1px 5px;
  -moz-box-shadow: #333 0px 1px 5px;
  box-shadow: #333 0px 1px 5px;
  font-size: 12px;
  padding: 4px;
}

.scrollCal div {
  position: relative;
}

.scrollCal .scrollCal__mainFrame {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 255px;
  overflow: hidden;
  padding: 10px 12px;
}

.scrollCal .scrollCal__calendar {
  width: 170px;
}

.scrollCal .scrollCal__monthFrame, .scrollCal .scrollCal__yearFrame {
  width: 50px;
  padding: 0 10px;
  background: #ccc;
  display: inline-block;
  vertical-align: top;
  height: 275px;
  overflow: hidden;
  position: relative;
}

.scrollCal .scrollCal__monthFrame a, .scrollCal .scrollCal__yearFrame a {
  display: block;
  height: 23px;
}

.scrollCal .scrollCal__month-indicator {
  position: absolute;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0, 0.3);
  top: 0;
  left: 0;
}